body {
  background-color: bisque;
}

.MortgageCalc {
  background-color: aquamarine;
  border-radius: 10px;
  display: flex;
  position: relative;;
  align-items: stretch;
  flex-direction: column;
  margin: 4vh auto;
  text-align: center;
  transition: .4s;
  max-width: 600px;
  height: 90vh;
  padding: 0;
}

.Dropdown {
  width: 150px;
  text-align: center;
  text-align-last: center;
}
#resetBtn, #calcBtn {
  transition: .4s;
  margin: 5px;
}

.hidden {
  opacity: 0;
  position: absolute;
}

h1 {
  width: 100%;
}
h2 {
  margin: 1rem;
}
.Dropdown, input {
  text-align: center;
  width: 100%;
  height: 50px;
}
.dropdown-container  *{
}



/* Responsiveness */


/* Small screens */
@media only screen and (max-width: 800px) {
  .MortgageCalc {
    margin: 4vh;
    font-size: small;
  }
}
